@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
.seccion1{
  color: #ffffff;
  width: 100%;
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url(../imagenes/HomePrincipal.jpg);
  background-size: cover;
  background-position: 100%;
  background-repeat: no-repeat;
}
  
  .seccion1__titulo {
      font-size: 70px;
  }
  
  .seccion1__subtitulo {
      font-size: 40px;
      font-style: italic;
      margin-bottom: 2rem;
  }
  
  .seccion1__parrafo {
      font-size: 12px;
      text-transform: uppercase;
  }



.contenedor {
  width: 100%;
  margin: auto;
  border-bottom: 30px;
}

img {
  width: 100%;
}

.header__contenido {
  position: relative;
  z-index: 100;
}

.logo {
  font-weight: 900;
  font-size: 30px;
  margin: 10px;
  font-family: cambria;
  color: #fff;
}

.banner {
  height: 50vh;
  margin-top: -60px;
  position: relative;
  background: url("../imagenes/Imagen home.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banner__descripcion {
  position: absolute;
  text-align: center;
  color: #fff;
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  width: 100%;
  font-size: 15px;
  margin-top: 40px;
}

.button__banner {
  background: #8bd4dd;
  border: none;
  padding: 20px;
  color: #fff;
  font-size: 20px;
}

.button__banner:hover {
  border: 2px solid #8bd4dd;
  background: none;
}

.galeria h1 {
  font-size: 40px;
  text-align: center;
}

.galeria {
  margin: 20px;
}

.team h1 {
  font-size: 40px;
  text-align: center;
}

.team {
  background: #ffffff;
  padding: 30px;
}

.team__columna img {
  border-radius: 50%;
}

.team p {
  text-align: justify;
}

.team__grid {
  display: grid;
  grid-gap: 30px;
}

.info h1 {
  color: #8bd4dd;
  font-size: 30px;
}

.info {
  text-align: center;
}

.info__columna {
  margin: 20px;
}

.info .contenedor {
  display: grid;
  grid-gap: 10px;
}

.banner2 {
  height: 50vh;
  color: #fff;
  position: relative;
  background: url("../imagenes/imagenwpp.jpg");
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
}

.banner2 h1 {
  font-size: 28px;
}

.banner2__descripcion {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
/*footer*/
.pie-pagina {
  width: 100%;
  background-color: #57626d;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
}

.pie-pagina .grupo-1 .box h2 {
  color: #fff;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
  color: #efefef;
  margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #0d2033;
  text-align: center;
  transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: aqua;
  text-align: center;
}

.pie-pagina .grupo-2 {
  background-color: #0a1a2a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}
.palabras-footer{
  text-decoration: none;
  color: #cea7d3;
}

@media screen and (max-width:800px) {
.pie-pagina .grupo-1{
  width: 90%;
  grid-template-columns: repeat(1, 1fr);
  grid-gap:30px;
  padding: 35px 0px;
}
}

@media (min-width: 520px) {
  .banner h1 {
    font-size: 30px;
  }
  .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
  }
  .team .team__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .info .contenedor {
    grid-template-columns: repeat(1, 150px);
    justify-content: space-around;
  }
  .banner2 h1 {
    font-size: 50px;
  }
  .banner2 p {
    font-size: 25px;
  }
}

@media (min-width: 728px) {
  .team .team__grid {
    grid-template-columns: repeat(4, 195px);
    justify-content: space-around;
  }
}

@media (min-width: 1024px) {
  .contenedor {
    width: 1000px;
  }
  .banner h1 {
    font-size: 45px;
  }
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    grid-auto-flow: dense;
    grid-auto-rows: 160px;
  }
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }
  .banner2 p {
    font-size: 30px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card-sucursales {
    flex-wrap: wrap;
  }
  .card-sucursales {
    margin: 15px;
  }
}

.container-form {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  /*display: grid;*/
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 90px;
}

.container-form h2 {
  margin-bottom: 15px;
  font-size: 35px;
}

.container-form p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.container-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}

.container-form a i {
  color: #8bd4dd;
  margin-right: 10px;
}

.container-form form .campo, textarea {
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}

.container-form form textarea {
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}

.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  margin-bottom: 50px;
  background: #8bd4dd;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}

.container-form .btn-enviar:hover {
  background: #8bd4dd;
}

.container-img {
  width: 100%;
  max-width: 1100px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 250px;
  grid-gap: 20px;
}

.container-img .box-img figure {
  width: 100%;
  height: 100%;
}

.container-img .box-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container-img .box-img:nth-child(1) {
  grid-column-start: span 2;
}

.container-img .box-img:nth-child(4) {
  grid-row-start: span 2;
}

@media screen and (max-width: 768px) {
  .container-img {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-template-rows: 200px;
  }
  .container-img .box-img:nth-child(1) {
    grid-column-start: span 1;
  }
}

@media screen and (max-width: 500px) {
  .container-img {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
  }
  .container-img .box-img img {
    height: 200px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .container-card2 {
    flex-wrap: wrap;
  }
  .card2 {
    margin: 15px;
  }
}

.title {
  color: black;
  text-align: center;
  margin-top: 20px;
  font-size: 50px;
}

.title font {
  font-weight: 100;
}

.container__cards {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  perspective: 900px;
}

.card {
  width: 100%;
  background: rgba(255, 255, 255, 0.6);
  padding-bottom: 20px;
  transition: all 600ms ease;
  transform: rotateX(40deg) scale(0.7);
  box-shadow: 0px 20px 50px -10px #000;
}

.card:hover {
  cursor: pointer;
  transform: rotateX(0deg) scale(1) translateY(10px);
}

.card__header {
  padding: 10px;
  text-align: center;
  background: #fff;
}

.card__cover {
  width: 100%;
}

.card__cover img {
  display: block;
  margin: auto;
  width: 100px;
  padding: 20px;
}

.c1 {
  background: #0f2a30;
}

.specifications {
  margin-top: 10px;
  text-align: center;
}

.specifications h2 {
  padding: 10px;
  background: #fff;
  margin-bottom: 20px;
}

.specifications h3 {
  margin-top: 10px;
}

hr {
  border: none;
  width: 250px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.specifications h3 font {
  font-weight: 400;
}

@media screen and (max-width: 800px) {
  .container__cards {
    perspective: none;
    flex-wrap: wrap;
  }
  .card {
    max-width: 290px;
    margin: 20px;
    transform: scale(1);
  }
  .card:hover {
    transform: translateY(0px) scale(1.08);
  }
}

@media screen and (max-width: 650px) {
  .card {
    max-width: 350px;
    margin: 20px;
    transform: translateY(0deg) scale(1);
  }
}

.buttoncontacto {
  display: block;
  width: 170px;
  font-weight: 700;
  background-color: #51bfce;
  border-radius: 5px;
  padding: 15px 30px;
  text-decoration: none;
  color: #dbdbdb;
  margin: auto;
}

.container-card-sucursales {
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto;
}

.title-cards-sucursales {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #7a7a7a;
}

.card-sucursales {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: black;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}

.card-sucursales:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card-sucursales img {
  width: 100%;
  height: 210px;
}

.card-sucursales .contenido-card-sucursales {
  padding: 15px;
  text-align: center;
}

.card-sucursales .contenido-card-sucursales h3 {
  margin-bottom: 15px;
  color: #7a7a7a;
}

.card-sucursales .contenido-card-sucursales p {
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 5px;
}

.card-sucursales .contenido-card-sucursales a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}

.card-sucursales .contenido-card-sucursales a:hover {
  background: #2fb4cc;
  color: #fff;
}

.container-card2 {
  width: 100%;
  display: flex;
  max-width: 1100px;
  margin: auto;
}

.title-cards2 {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color: #7a7a7a;
}

.card2 {
  width: 100%;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #fff;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease-out;
  cursor: default;
}

.card2:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.card2 img {
  width: 100%;
  height: 210px;
}

.card2 .contenido-card2 {
  padding: 15px;
  text-align: center;
}

.card2 .contenido-card2 h3 {
  margin-bottom: 15px;
  color: #7a7a7a;
}

.card2 .contenido-card2 p {
  line-height: 1.8;
  color: #6a6a6a;
  font-size: 14px;
  margin-bottom: 5px;
}

.card2 .contenido-card2 a {
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  text-decoration: none;
  color: #2fb4cc;
  border: 1px solid #2fb4cc;
  border-radius: 4px;
  transition: all 400ms ease;
  margin-bottom: 5px;
}

.card2 .contenido-card2 a:hover {
  background: #2fb4cc;
  color: #fff;
}

.container_nosotros {
  width: 90%;
  max-width: 1000px;
  margin: 1em auto;
  display: grid;
  gap: 1.6em;
  grid-template-columns: repeat(5, 1fr);
}

.container_nosotros > .header_nosotros, .container_nosotros > .content_nosotros, .container_nosotros > .sidebar_nosotros, .container_nosotros > .footer_nosotros, .container_nosotros > div {
  background: #fff;
  padding: 20px;
  border: 1px solid #000000;
}

.container_nosotros > .header_nosotros, .container_nosotros > .footer_nosotros {
  grid-column: 1/-1;
  background-color: #1e272e;
  color: #ffffff;
}

.container_nosotros > .content_nosotros {
  grid-column: span 5;
  grid-row: span 3;
}

.content_nosotros > .article_nosotros {
  background: #808e9b;
  padding: 20px;
  margin-top: 5px;
  color: #dfe6e9;
}

.content_nosotros .article h1,
.content_nosotros .article p {
  padding: 10px;
}

.container_nosotros > .sidebar_nosotros {
  grid-column: span 2;
  grid-row: span 4;
  background: #485460;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container_nosotros .sidebar_nosotros img {
  display: block;
  width: 100%;
  margin-top: 5px;
}

.container_nosotros > .related-post {
  background: #2d3436;
  color: #ffffff;
  height: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.container_nosotros > .related-post:hover {
  cursor: pointer;
  color: #000000;
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .header {
    text-align: center;
  }
  .container_nosotros .content_nosotros {
    grid-column: 1 / -1;
  }
  .container_nosotros .sidebar_nosotros {
    grid-column: 1 / 6;
  }
  .container_nosotros .related-post_nosotros {
    grid-column: 1/-1;
  }
}

/*main-index-entregafinal*/
.body-index{
  background: rgb(123, 144, 153);
  font-family:'lato';
  font-size: 16px;
}

.contenedor-index{
  width: 90%;
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
}

header{
  background-image: url('../img/portada.png');
  
  background-repeat: no-repeat;
  background-position:center;
  background-attachment: cover;
}
header .menu{
  margin:30px 0;
  display:flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}
header .menu a:hover{
  text-decoration: underline;
}
header .menu a{
  font-size:18px;
  font-family: 'lato';
  font-weight: 300;
  display: inline-block;
  padding:10px 0;
  margin:0 15px;
  color:#fff;
  text-decoration: none;
}
header .contenido-header{
  margin:120px 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
header .contenido-header .titulo-header{
  font-size: 90px;
  text-align: center;
  color: #fff;
  text-align: center;
}

header .contenido-header .linea-header{
  width: 700px;
  margin: auto;
  height:2px;
  background: #15a4fa;
  margin-bottom:30px;
  text-align: center;
}

header .contenido-header .texto-header{
  color:#fff;
  font-weight: 300;
  margin-bottom:30px;
  font-size:20px;
  text-align: center;
}

header .contenido-header .action-header{
  display: inline-block;
  margin: auto;
  color: #fff;   
  text-decoration: none;
  border:1px solid #15a4fa;
  padding: 10px 20px;
  border-radius: 5px;
}

header .contenido-header .action-header:hover{
  background: #15a4fa;
  color: #fff;
}

main .quienes{
  background: #f0f3f5;
  padding:60px 0;
}

main .quienes .quienes-titulo{
  color:#000;
  font-size: 25px;
  text-align: center;
  margin-bottom:20px;
}

main .quienes .quienes-parrafo{
  text-align: center;
  color:#999999;
  font-weight: 600;
}

main .quehacemos{
  margin:60px 0;  
}
main .contenido-cajas{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .quehacemos .contenido-cajas .tarjeta{
  width: 30%;
  text-align: center;
}

main .quehacemos .contenido-cajas .tarjeta .contenido-tarjeta .titulo-tarjeta{
  margin:10px 0;   
}

main .portafolio{
  background: #f0f3f5;
  padding: 60px 0;
}

main .portafolio .portafolio-textos{
  text-align: center;
  margin-bottom: 60px;
  color:#2d3950;
  font-size: 20px;
}

main .portafolio .portafolio-textos p{
  color: #909090;
  font-size: 15px;
  margin:20px 0 0 0;
}

main .portafolio .galeria{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

main .portafolio .galeria .fotos{
  width: 30%;
  margin-bottom:20px;
}

main .portafolio .galeria .fotos img{
  width: 100%;
  height:210px;
  border-radius: 5px;
}
main .portafolio .galeria .fotos img:hover{
  opacity:.6;
  cursor: pointer;
}



@media screen and (max-width:760px){
  header .menu{
      justify-content: center;
  }
  header .contenido-header .texto-header{
     font-size:18px;
  }
  header .contenido-header .texto-header .desaparecer{
      display: none;
  }
}

@media screen and (max-width:630px){
  header .contenido-header .titulo-header{
      font-size:80px;
  }
  header .contenido-header .linea-header{
      width: 400px;
  }
  main .portafolio .galeria .fotos{
      width:49%;
  }
}

@media screen and (max-width: 500px){
  header .contenido-header .titulo-header{
      font-size:40px;
  }
  main .quehacemos .contenido-cajas .tarjeta{
     width: 48%;
  }
  main .contenido-cajas{
      justify-content: center
  }
  main .quehacemos .contenido-cajas .tarjeta{
      margin:20px 0;
  }
}

@media screen and (max-width: 350px){
  main .quehacemos .contenido-cajas .tarjeta{
      width: 98%;
  }
  header .contenido-header .texto-header{
      font-size:15px;
  }
}

/*Formulario contacto nuevo*/
.general-contacto {
  background: #5b7e85;
  color: #fff;
  line-height: 1.6;
  font-family: 'Quicksand', sans-serif;
  padding: 2em 1.5em;
}

.container {
  max-width: 1470px;
  margin-left: auto;
  margin-right: auto;
  padding: 1.5em;
}

ul {
  list-style: none;
  padding: 0;
}

.logo {
  text-align: center;
  font-size: 3em;
}

.logo span {
  color: #000000;
}

.contact-wrapper {
  box-shadow: 0 0 20px 0 rgba(165, 201, 207, 0.3);
}

.contact-wrapper > * {
  padding: 1em;
}

.contact-form {
  background: #bac8cc;
}

.contact-form form {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-form form label {
  display: block;
}

.contact-form form p {
  margin: 0;
  padding: 1em;
}

.contact-form form .block {
  grid-column: 1 / 3;
}

.contact-form form button,
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: .7em;
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  border-bottom: 1px solid rgb(80, 135, 145);
}

.contact-form form button {
  background: rgb(80, 135, 145);
  border: 0;
  text-transform: uppercase;
  padding: 1em;
}

.contact-form form button:hover,
.contact-form form button:focus {
  background: #9c8f8f;
  color: #fff;
  transition: background-color 1s ease-out;
  outline: 0;
}

.contact-info {
  background: rgb(80, 135, 145);
}

.contact-info h4, .contact-info ul, .contact-info p {
  text-align: center;
  margin: 0 0 1rem 0;
}


@media(min-width: 700px) {
  body {
      padding:none;
  }
  .contact-wrapper {
      display: grid;
      grid-template-columns: 2fr 1fr;
  }
  .contact-wrapper > * {
      padding: 2em;
  }
  .contact-info h4,
  .contact-info ul,
  .contact-info p {
      text-align: left;
  }
}



/*# sourceMappingURL=style.css.map */