.container_nosotros {
    width: 90%;
    max-width: 1000px;
    margin: 1em auto;
    display: grid;
    gap: 1.6em;
    grid-template-columns: repeat(5, 1fr);
  }
  
  .container_nosotros>.header_nosotros, .container_nosotros>.content_nosotros, .container_nosotros>.sidebar_nosotros, .container_nosotros>.footer_nosotros, .container_nosotros>div {
    background: #fff;
    padding: 20px;
    border: 1px solid #000000;
  }
  
  .container_nosotros>.header_nosotros, .container_nosotros>.footer_nosotros{
    grid-column: 1/-1;
    background-color: #1e272e;
    color: #ffffff;
  }
  
  .container_nosotros>.content_nosotros {
    grid-column: span 5;
    grid-row: span 3;
  }
  
  .content_nosotros>.article_nosotros {
    background: #808e9b;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9
  }
  
  .content_nosotros .article h1,
  .content_nosotros .article p {
    padding: 10px;
  }
  
  .container_nosotros>.sidebar_nosotros {
    grid-column: span 2;
    grid-row: span 4;
    background: #485460;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .container_nosotros .sidebar_nosotros img {
    display: block;
    width: 100%;
    margin-top: 5px;
  }
  
  .container_nosotros>.related-post {
    background: #2d3436;
    color: #ffffff;
    height: 180px;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
  }
  
  .container_nosotros>.related-post:hover {
    cursor: pointer;
    color: #000000;
    background: #ffffff;
  }