$color-principalletras: #8bd4dd;

//mapa chico//
$estilos: (
 color: none,
);


div {
    background-color: map-get($estilos, color);
    text-align: map-get($estilos, centro);
    padding: map-get($estilos, padding) * 5;
    font-size:map-get($estilos, tFuente);
}

.section1 {
    background-color: map-get($estilos, color);
}